<header class="header">
  <h1 class="header_title" data-test="app-title">todos</h1>
  <div class="header_input-wrapper">
    <input
      data-test="app-check-toggle-all"
      [class.visible]="hasTodos() > 0"
      [ngModel]="allSelected()"
      (click)="toggleAll($event)"
      class="header_checkbox"
      type="checkbox"
    />
    <input
      data-test="app-main-input"
      #inputRef
      class="header_input"
      type="text"
      placeholder="What needs to be done?"
      (keyup.enter)="onAddTodo($event)"
    />
  </div>
</header>
